<mat-card class="register-card">
  <form
    [formGroup]="registerForm"
    (ngSubmit)="onSubmit()"
    class="register-form"
  >
    <mat-form-field>
      <mat-label>
        Username
      </mat-label>
      <input matInput type="text" formControlName="username"/>
    </mat-form-field>
    <mat-form-field>
      <mat-label>
        Email
      </mat-label>
      <input matInput type="text" formControlName="email"/>
    </mat-form-field>
    <mat-form-field>
      <mat-label>
        Password
      </mat-label>
      <input
        matInput
        type="password"
        formControlName="password"
      />
    </mat-form-field>
    <button mat-flat-button type="submit" [disabled]="!registerForm.valid">
      Register
    </button>
  </form>
</mat-card>
