<mat-toolbar color="primary">
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <h1>Trending near me!</h1>
</mat-toolbar>
<mat-sidenav-container class="nav-content">
  <mat-sidenav
    #sidenav
    [mode]="'over'"
    [fixedInViewport]="true"
    [fixedTopGap]="isMobile ? 56 : 64"
    class="sidenav"
  >
    <mat-nav-list>
      <a mat-list-item routerLink="/"
      >Map
        <mat-icon class="nav-icon">near_me</mat-icon>
      </a>
      <a mat-list-item routerLink="/personal-history" *ngIf="isAuthenticated"
      >Personal history
        <mat-icon class="nav-icon">history</mat-icon>
      </a>
      <a mat-list-item routerLink="/auth/login" *ngIf="!isAuthenticated">
        Login
        <mat-icon class="nav-icon">login</mat-icon>
      </a>
      <a mat-list-item routerLink="/auth/register" *ngIf="!isAuthenticated">
        Register
        <mat-icon class="nav-icon">person_add</mat-icon>
      </a>
      <a mat-list-item routerLink="/auth/logout" *ngIf="isAuthenticated">
        Logout
        <mat-icon class="nav-icon">work_off</mat-icon>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="nav-content">
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
